*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.portfolio{
    background-color: slategray;
    // &__header{

    // }
    // &__header-links{

    // }
    &__link{
        text-decoration: none;
    }
}